footer {
    font-size: 12px;
}

header {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    align-items: center;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

h3 {
    color: #6B949E;
}

header, footer {
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
}

header, footer, main, body {
    width: 90vmax;
}

body {
    display: grid;
    justify-items: center;
}

html {
    display: grid;
    justify-content: center;
    font-size: 18px;
}