body {
    font-family: 'Roboto', sans-serif;
    display: grid;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

section {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    width: fit-content;
}

html {
    display: grid;
    justify-content: center;
    font-size: 18px;
}

footer, main, body {
    width: 90vmax;
}

footer {
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
}

@media screen and (max-width: 1051px) {
    main {
        grid-template-columns: 50% 50%;
    }

    footer, main, body {
        width: 90%;
    }
}

@media screen and (max-width: 751px) {
    main {
        grid-template-columns: 100%;
    }
}