header {
    display: grid;
    padding: 0px;
}

header #head-text {
    display: flex;
    margin-top: 0vw;
    background-color: #1A80B6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: -8px;
}

header #bigNav {
    float: right;
}

header #logo {
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

header a {
    color: white;
    text-decoration: none;
}

#hamburger {
    display: flex;
    border: 1px solid #DADADA;
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}