main {
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.form {
    grid-column: 1/3;
}

.smallMap {
    display: none;
}

.mediumMap {
    display: none;
}

.largeMap {
    display: block;
}